// If you want to override materialize sass variables you can uncomment the following:
@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: color("grey", "lighten-3");
$secondary-color: color("amber", "darken-2");
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
// import main scss file

@import "../client/views/map/map";
@import "../client/views/login/login";
@import "../client/views/header/header";
@import "../client/pages/common/content";
@import "{poetic:materialize-scss}/sass/materialize.scss";
