.panel {
    background-color: white;
}

.chart {
    padding: 20px 0 !important;
}
.widget {
    height: 120px;
}

@media screen and (max-width: 993px) {
	.infostijl {
		padding-bottom: 15px !important;
	}	
} 