.footer-2 {
  $base-spacing: 1.5em !default;
  $footer-background: #F69101;
  $footer-color: white;

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
}
