$large-screen: em(1200);
$medium-screen: em(860);

#fires, #threats {
    @include span-columns(4);
    @include shift(1);
    h1 {
        border-bottom: solid 1px #F69101;
    }

    @include media(max-width $medium-screen) {
        @include span-columns(10);
    }
}

#threats {
    @include media($large-screen) {
        @include shift(1);
    }
}
