<template name="nodeInfo">
    <div id="nodeInfo" style="margin-bottom: 20px;" class="panel col l3 m12 s12 z-depth-1">
        <h5>
            Node information
        </h5>
        <div class="row">
            <div class="col l12">
                <p>
                    Node ID: <strong>{{node._id}}</strong>
                </p>
            </div>
            <div class="col l12">
                <ul>
                    <li><strong>Longitude: {{node.geo.lng}}</strong></li>
                    <li><strong>Latitude: {{node.geo.lat}}</strong></li>
                </ul>
            </div>
        </div>
    </div>
</template>