<template name="login">
        <section class="row">
            <form class="col l6 offset-l3 m8 offset-m2 s12 z-depth-1 lower" id="form-ctrl">
                <h5>Log in</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="email" name="loginEmail" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="password" name="loginPassword" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <input type="submit" value="login" class="btn waves-effect waves-light amber darken-2 right" name="action">
            </form>
        </section>
</template>
